[submodule "src/simdjson"]
	path = src/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "perfmon"]
	path = perfmon
	url = https://github.com/intel/perfmon
[submodule "src/pugixml"]
	path = src/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "Intel-PMT"]
	path = Intel-PMT
	url = https://github.com/intel/Intel-PMT.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
