*.o
*.x
*.d
*.a
*.so
*.xml
/.project
*.XML
*.htm
*.html
*.dll
*.patch
*.orig
*.out
*.log
*.sys
*.vxd
*.exe
*.tgz
.metadata/
*.sdf
*.suo
Debug
Release
Debug64
Release64
.metadata/
html/
latex/
*.swp
*.vcxproj.user
.vs/
.idea/
build
src/simdjson