[Unit]
Description=Intel Performance Counter Monitor (PCM) Sensor Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/pcm-sensor-server

[Install]
WantedBy=multi-user.target
