name: test cmake options

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ci-gcc10
    if: ${{ github.repository != 'intel/pcm' }}

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        submodules: recursive

    - name: CMake default install
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc) 

    - name: CMake Release install
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=Release
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc) 

    - name: CMake Debug install
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=Debug
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc) 

    - name: CMake RelWithDebInfo install
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=RelWithDebInfo
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc) 

    - name: CMake Custom build install
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DCMAKE_CXX_FLAGS_CUSTOM:STRING="-O2 -g" -DCMAKE_BUILD_TYPE=CUSTOM
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc)

    - name: CMake Include systemd unit
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DLINUX_SYSTEMD=TRUE -DLINUX_SYSTEMD_UNITDIR=${{ github.workspace }}/build/systemd
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc)

    - name: CMake User-flags build install
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DCMAKE_CXX_FLAGS="-O2 -g -fPIC"
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc)

    - name: CMake env var option build install
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        export CXXFLAGS="-grecord-gcc-switches"
        export CFLAGS="-fstack-protector-strong"
        export LDFLAGS="-Wl,-z,now"
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DCMAKE_CXX_FLAGS_CUSTOM:STRING="-O2 -g -fPIC" -DCMAKE_BUILD_TYPE=CUSTOM
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc)

    - name: CMake env var option build install (no custom flags)
      run: |
        cmake --version
        rm -rf ${{ github.workspace }}/build
        export CXXFLAGS="-grecord-gcc-switches"
        export CFLAGS="-fstack-protector-strong"
        export LDFLAGS="-Wl,-z,now"
        cmake -B ${{ github.workspace }}/build -DCMAKE_INSTALL_PREFIX=${{ github.workspace }}/build -DCMAKE_BUILD_TYPE=CUSTOM
        cd ${{ github.workspace }}/build
        export VERBOSE=1
        make install -j$(nproc)

    - name: Diagnostic
      run: date
