name: coverity-windows

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ci-kw-windows
    if: ${{ github.repository != 'intel/pcm' }}

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        submodules: recursive

    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2.0.0
    
    - name: coverity-windows
      run: |
        mkdir build
        cd build
        cmake ..
        c:\pcm\ci-cov-windows.ps1

    - name: coverity-windows-cs
      run: |
        mkdir build-cs
        cd build-cs
        cmake ..
        c:\pcm\ci-cov-windows-cs.ps1

    - name: coverity-windows-msr
      run: |
        chdir ${{github.workspace}}\src\WinMSRDriver
        c:\pcm\ci-cov-windows-msr.ps1
