name: stats-cron-job

on:
  schedule:
    - cron: '30 23 * * 2'

permissions:
  contents: read

jobs:
  stats:
    runs-on: ubuntu-20.04
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
      with:
        egress-policy: audit

    - name: stats
      run: |
        curl https://hetthbszh0.execute-api.us-east-2.amazonaws.com/default/pcm-clones
